page-single {
.scroll-content,.fixed-content{
    background: rgb(255, 255, 255);
};
.card-background-page {

    ion-card {
      position: relative;
      
      background: #e4edf3;
    }
        
  }
}
